@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}
p {
  font-size: 15px;
}

.cursor-pointor {
  cursor: pointer;
}
.text-red {
  color: #e90c3f;
}
.text-black {
  color: #25424c;
}
.text-oragne {
  color: #fb770d;
}

.bg-orange {
  background-color: #fb770d !important;
  border-color: #fb770d !important;
  color: #fff !important;
}
.bg-black {
  background-color: #25424c !important;
  border-color: #25424c !important;
  color: #fff !important;
}
.bg-red {
  background-color: #e90c3f !important;
  border-color: #e90c3f !important;
  color: #fff !important;
}

.login-input {
  width: 700px;
  max-width: 90% !important;
  font-family: "Poppins", sans-serif !important;
  margin: auto;
}

.form-control,
.form-floating > .form-select {
  display: inline;
}
.form-control:focus {
  border-color: #ed174a !important;
  box-shadow: none !important;
}
.form-select:focus {
  border-color: #ed174a !important;
  box-shadow: none !important;
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-text {
  color: black !important;
}
.banner-text h1 {
  color: #202435 !important;
  font-size: 35px;
}

.carousel-control-next {
  display: none !important;
}
.carousel-control-prev {
  display: none !important;
}
.carousel-indicators [data-bs-target] {
  background-color: #ed174a !important;
}
.banner-parragraph-text {
  width: 100%;
}
.department_area {
  color: #000;
  margin: auto;
  max-width: 95%;
  text-align: center;
  width: 700px;
}
.department_area_text {
  font-size: 35px;
  font-weight: 500;
}
/* banner */
@media screen and (min-width: 780px) {
  .banner-text h1 {
    font-size: 50px !important;
  }
  .banner-parragraph-text {
    width: 50% !important;
  }
}
